/**
  Anthony Borza
  Assignment 3
  Due Date: 2/16/2021
*/

body {
  font-size: 16px;
  color: #fff;
  background-color:  #669999;
  font-family: 'Oxygen', sans-serif;
}


a, a:hover{
  color: white;
}

p{
	padding: 5px;
}


#chicken, #beef, #sushi{
 border: 1px solid;
 margin: 15px;
 background-color: #334d4d;
}


#header-nav {
  background-color: #334d4d;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
  border: 1px solid;
}

#nav-list a:hover {
  background: #669999;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .container-fluid .main {
  	margin-top: 0px;
    height: 700px;

  }

 a{
    visibility: hidden;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .container-fluid .main {
    height: 700px;
  }

  a {
    visibility: hidden;
  }

}

/********** Small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }

  .navbar-brand p {  
    height: 20px;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }

  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

  .container-fluid .main {
    margin-top: 30px;
    padding: 0;
  }

}
