<!-- 
  Anthony Borza
  Assignment 7
  Due Date: 3/23/2021
  index.html: This class handles user interface portion
  and displays the business logic develoepd in app.js
 -->
<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="./angular.min.js"></script>
    <script src="./app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      h1{
      	text-align: center;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
      .total{
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
<body>
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">
      <!-- To Buy List -->
        <div class="col-md-6" ng-controller="ToBuyController as toBuyItem">
           <h2>To Buy:</h2>
             <ul>
                <li ng-repeat="item in toBuyItem.buyItems ">
                    {{item.quantity}} of {{item.name}} Cost: {{item.price | currency}}
                    <button ng-click="toBuyItem.buyItem($index);"> <span class="glyphicon glyphicon-ok"></span> Bought</button>       
                </li>
             </ul>
            <div ng-if="toBuyItem.errorMessage()" class="emptyMessage">Everything has been bought!</div>
        </div>

        <!-- Already Bought List -->
        <div class="col-md-6" ng-controller="AlreadyBoughtController as showBought">
           <h2>Already Bought:</h2>
              <ul>
                <li ng-repeat="item in showBought.boughtItems">
                    {{item.quantity}} of {{item.name}} Total Cost: {{item.quantity * item.price | currency }} </li>
                   <p class="total">Grand Total: {{showBought.money | moneyFilter}} {{showBought.totalPrice()}}</p> 
              </ul>
               <div ng-if="showBought.errorMessage()" class="emptyMessage">Nothing Bought Yet!</div>
        </div>
     </div>
  </div>

</body>
</html>
