
<!--
Anthony Borza
Due Date: 5/10/2021
myinfo.html: displays users infomation in a table
-->
<div style="text-align: center;">
  <a ui-sref="public.signup" style="color: white;"
    ng-if="myInfoCtrl.userInfo == undefinded || myInfoCtrl.userInfo == empty">
    Not Signed Up Yet. Sign Up Now! </a>
<div>

<div id="info"  ng-if="myInfoCtrl.userInfo">
    <table class="table table-dark">
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Short Name</th>
      </tr>
      <tr>
          <td>{{myInfoCtrl.userInfo.firstName}}</td>
          <td>{{myInfoCtrl.userInfo.lastName}}</td>
          <td>{{myInfoCtrl.userInfo.email}}</td>
          <td>{{myInfoCtrl.userInfo.phone}}</td>
          <td>
            <menu-item menu-item="myInfoCtrl.userInfo.shortName"></menu-item>
          </td>
      </tr>
    </table>
  </div>
