<!-- 
Anthony Borza
Assignment 8
Due Date: 4/06/2021
foundItems.html: displays the results from the search in a table
format 
-->
<table>
	<thead>
		<tr>
			 <th>Short Name</th>
			 <th>Name</th>
			 <th>Description</th>
			 <th>Dont Want This One!</th>
		</tr>
	</thead>
		<tr ng-repeat="item in list.found">
		<td>{{item.short_name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.description}}</td>
		<td><button ng-click="list.onRemove({index: $index});">Remove Item</button></td>
	</tr>
</table>
<div class="error" ng-if="list.errorMessage()">Nothing Found!</div>

	